/* #profile-img {
    border-radius: 50%;
} */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --bs-body-font-family: "Roboto", sans-serif;
}

#publications img {
  max-height: 200px;
}

#projects img {
  max-height: 200px;
}

a {
  color: #2672e5;
}

a:hover {
  color: #0d408d;
}

.nodecoration a:hover {
  text-decoration: none;
}

.nodecoration a:visited {
  text-decoration: none;
}

.nodecoration a:active {
  text-decoration: none;
}

.nodecoration a {
  text-decoration: none;
}

.nodecoration a:link {
  text-decoration: none;
}
